<div class="userlist">
  <!-- 面包屑导航 -->
  <el-breadcrumb separator-class="el-icon-arrow-right">
    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
    <el-breadcrumb-item>用户管理</el-breadcrumb-item>
    <el-breadcrumb-item>用户列表</el-breadcrumb-item>
  </el-breadcrumb>

  <el-row :gutter="20" class="search">
  <!-- 搜索框 -->
  <el-col :span="6">
    <el-input placeholder="请输入内容" v-model="searchText">
      <el-button slot="append" icon="el-icon-search" @click="userSearch"></el-button>
    </el-input>
  </el-col>
  <!-- 添加用户按钮 -->
  <el-col :span="2">
    <el-button type="success" plain @click="addUserdialog = true">添加用户</el-button>
  </el-col>
  </el-row>

  <!-- userlist表格 -->
  <el-table
    :data="tableData"
    stripe
    style="width: 100%">
    <el-table-column
      prop="username"
      label="姓名"
      width="180">
    </el-table-column>
    <el-table-column
      prop="email"
      label="邮箱"
      width="180">
    </el-table-column>
    <el-table-column
      prop="mobile"
      label="电话">
    </el-table-column>
    <el-table-column
    prop="mg_state"
    label="用户状态">
    <template slot-scope="scope">
      <el-switch
        v-model="scope.row.mg_state" @change="changeStatus(scope.row)">
      </el-switch>
    </template>
  </el-table-column>
  <el-table-column
    label="操作">
    <template slot-scope="scope">
      <el-button size="mini" type="primary" plain icon="el-icon-edit" @click="getUserInfoById(scope.row.id)"></el-button>
      <el-button size="mini" type="danger" plain icon="el-icon-delete" @click="deleteUser(scope.row.id)"></el-button>
      <el-button size="mini" type="success" plain icon="el-icon-check" @click="showAssignRolesDialog(scope.row)">分配角色</el-button>
    </template>
  </el-table-column>
  </el-table>

  <!-- 分页 -->
  <el-pagination
    background
    layout="prev, pager, next"
    :total="total"
    :page-size="pageSize"
    :current-page.sync="currentPage"
    @current-change="getCurUserList">
  </el-pagination>

  <!-- 添加用户的模态框 -->
  <el-dialog title="添加用户" :visible.sync="addUserdialog">
    <el-form ref="addUserForm" :model="addUserForm" :rules="addRules" label-width="80px" status-icon>
      <el-form-item label="用户名" prop="username">
        <el-input v-model="addUserForm.username"></el-input>
      </el-form-item>
      <el-form-item label="密码" prop="password">
        <el-input type="password" v-model="addUserForm.password"></el-input>
      </el-form-item>
      <el-form-item label="邮箱" prop="email">
        <el-input v-model="addUserForm.email"></el-input>
      </el-form-item>
      <el-form-item label="手机" prop="mobile">
        <el-input v-model="addUserForm.mobile"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="addUserdialog = false">取 消</el-button>
      <el-button type="primary" @click="addUserInfo">确 定</el-button>
    </div>
  </el-dialog>

  <!-- 编辑用户的模态框 -->
  <el-dialog title="编辑用户" :visible.sync="editUserdialog">
    <el-form ref="editUserForm" :model="editUserForm" :rules="editRules" label-width="80px" status-icon>
      <el-form-item label="用户名" prop="username">
        <el-input v-model="editUserForm.username" disabled></el-input>
      </el-form-item>
      <el-form-item label="邮箱" prop="email">
        <el-input v-model="editUserForm.email"></el-input>
      </el-form-item>
      <el-form-item label="手机" prop="mobile">
        <el-input v-model="editUserForm.mobile"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="editUserdialog = false">取 消</el-button>
      <el-button type="primary" @click="editUserInfo(editUserForm.id)">确 定</el-button>
    </div>
  </el-dialog>

  <!-- 分配角色对话框 -->
  <el-dialog title="分配角色" :visible.sync="assignRolesdialog">
    <el-form  :model="assignRolesForm" label-width="80px">
      <el-form-item label="用户名">
        <el-input v-model="assignRolesForm.username" disabled></el-input>
      </el-form-item>
      <!-- 下拉选中框 -->
      <el-form-item label="角色列表">
        <el-select v-model="assignRolesForm.roleId" placeholder="请选择">
          <el-option
            v-for="item in allRoles"
            :key="item.id"
            :label="item.roleName"
            :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>

    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="assignRolesdialog = false">取 消</el-button>
      <el-button type="primary" @click="assignRoles">分 配</el-button>
    </div>
  </el-dialog>
</div>
